@mixin vertical {
    writing-mode: vertical-lr;
    text-orientation: mixed;
}
@mixin rotate {transform: rotate(-180deg);}

.vertical {@include vertical();}
.rotate {@include rotate();}

.justify-content-center {
    justify-content: center;
}

.column-grid-home {
    .cnpj {
        width: 100%;
    }
}

@media (max-width: 500px) {
    .column-grid-home {
        display: block;
        flex: none;

        .cnpj {
            width: 100%;
        }
    }
}

@media print {
    ion-header, ion-searchbar, ion-input, ion-fab, button, ion-label, ion-item, h1  {
        display: none !important;
    }
    .scroll-content, .fixed-content, .grid, ion-content {
        padding: 0 !important;
        margin: 0 !important;
        background: white;
        color: black;
        overflow: hidden;
    }

    ion-content {
        .grid {
            margin-top: 0.4cm !important;
            padding: 0.1cm 0.1cm !important;
        }
    }

    .column-grid-home {
        width: 6.3cm;
        height: 4.7cm;
        padding: 0.1cm 0.1cm;

        .blue-background {
            border: 0px solid black;
            background: white;

            qr-code img {
                width: 3.5cm;
                height: 3.5cm;
            }

            .cnpj {
                @include vertical();
                @include rotate();
                width: auto;
            }

            .descricao {
                width: 4.5cm;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
    }
}

.app-root {
    max-width: 100%;
}

.input-edit{
    background: white;
    border-radius: 4px;
}

.input-wrapper{
 color: map-get($colors, primary);   
}

ion-select {
    border: 1px solid;
    border-radius: 4px;
}

.text-label.label.label-md{
    color: white;
    font-size: 16px;
}