<ion-header>
    <ion-toolbar>
        <ion-buttons start>
            <button ion-button (click)="dismiss()">
                <ion-icon name="close"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title>Dados pessoais</ion-title>
    </ion-toolbar>
</ion-header>


<ion-content padding class="listWhite">
    <form [formGroup]="clientForm" (ngSubmit)="doSubmit()">
        <ion-list>
            <p style="text-align:center;" [hidden]="!isFacebookRegister">Preencha o restante dos dados</p>
            <ion-item>
                <ion-label stacked>CPF *</ion-label>
                <ion-input formControlName="cpf" [brmasker]="{mask:'000.000.000-00', len:14}"
                    type="tel" readonly ></ion-input>
            </ion-item>
            <small *ngIf="sended && !clientForm.controls['cpf'].value">
                Campo obrigatório
            </small>
            <ion-item>
                <ion-label stacked>Nome *</ion-label>
                <ion-input formControlName="nome" type="text" readonly> </ion-input>
            </ion-item>
            <small *ngIf="sended && !clientForm.controls['nome'].value">
                Campo obrigatório
            </small>
            <ion-item [hidden]="isFacebookRegister">
                <ion-label stacked>E-mail *</ion-label>
                <ion-input class="input-edit" formControlName="email" type="email"></ion-input>
            </ion-item>
            <small *ngIf="sended && !clientForm.controls['email'].value">
                Campo obrigatório
            </small>
            <ion-item>
                <ion-label stacked>Celular</ion-label>
                <ion-input class="input-edit" formControlName="celular" [brmasker]="{phone: true}" type="tel">
                </ion-input>
            </ion-item>
            <p class="text-center" style="font-weight: bold;">Para atualizar seus dados é necessário confirmar sua senha:</p>
            <ion-item [hidden]="isFacebookRegister">
                <ion-label stacked>Senha *</ion-label>
                <ion-input class="input-edit" formControlName="senha" type="password"></ion-input>
            </ion-item>
            <small *ngIf="sended && !clientForm.controls['senha'].value && (!isFacebookRegister)">
                Campo obrigatório
            </small>
            <ion-item [hidden]="isFacebookRegister">
                <ion-label stacked>Confirmar senha *</ion-label>
                <ion-input class="input-edit" formControlName="confirmaSenha" type="password"></ion-input>
            </ion-item>
            <small *ngIf="sended && !clientForm.controls['confirmaSenha'].value && (!isFacebookRegister)">
                Campo obrigatório
            </small>
        </ion-list>
        <br>
        <div>
            <button class="cliente-form" type="submit" ion-button color="primary" block>
                {{ !isFacebookRegister ? "Salvar": "Finalizar login com o facebook" }}
            </button>
        </div>
    </form>
</ion-content>