page-main-agente {
    .logo-home{
        margin-top: 20px;
        margin-bottom: 5px;
        width: 220px;
    }

    .slider {
        ion-slide {
            height: 117px !important;
            img {
                width: 100% !important;
            }
        }
    }
   
  .swiper-pagination-fraction, 
  .swiper-pagination-custom, 
  .swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: 10px;
    width: 95%;
    margin-left: 2%;
    color: transparent !important;
    background:  transparent !important;
  }

  .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet{
    background-color: transparent !important;
  }

  .grid{
      padding: 0px;
  }
  .swiper-slide 
  .swiper-slide-active{
    width: 140.5px;
  }

  .blue-background
  {
    height: 115px;
    width: 156px;
    -webkit-user-modify: read-write-plaintext-only;
  }

  .green-background
  {
    height: 115px;
    width: 156px;
    -webkit-user-modify: read-write-plaintext-only;
  }
}
