<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>454295619129-gifm924c206eplmtuefij8rg73ru3skf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.454295619129-gifm924c206eplmtuefij8rg73ru3skf</string>
	<key>API_KEY</key>
	<string>AIzaSyBQ0AAeRtkstYPqfYlRDCHARIrhNQO0d-8</string>
	<key>GCM_SENDER_ID</key>
	<string>454295619129</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.grupormc.meuvaleapp</string>
	<key>PROJECT_ID</key>
	<string>meuvale-aed97</string>
	<key>STORAGE_BUCKET</key>
	<string>meuvale-aed97.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:454295619129:ios:80a27c14f78055faaa2fe8</string>
	<key>DATABASE_URL</key>
	<string>https://meuvale-aed97.firebaseio.com</string>
</dict>
</plist>