page-order-store-list {
    .classificacao-check{
        color: #FFDC01;
    }

    .text-center {
        text-align: right;
    }

    .icone-acao{
        height: 45px;
        width: 100%;
        margin: 0px;
    }
}
