product-image {
    .slider {
        ion-slide {
            height: 117px !important;
            img {
                width: 100% !important;
            }
        }
    }
   
    .img-produto-home{
        height: 142px;
    }

}
