<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Meu Shopping
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="showOrder()">
        <ion-icon name="options"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding id="page7">
    <div class="text-center">
        <ion-searchbar style="width: 80%; left: 10%" [(ngModel)]="produtoPesquisa" placeholder="Encontre aqui um produto"
            name="pesquisa" (ionInput)="search()" debounce=500>
        </ion-searchbar>
        <button [hidden]="!limparBusca" style="color: red;" (click)="limparBuscaProdutos()">
            Limpar busca
        </button>
        <ion-list style="background: white;">
            <ion-item style="color: black" *ngFor="let produto of proudtosFilter" (click)="retornaProdutos(produto)">
                {{produto.Nome}}
            </ion-item>
        </ion-list>
    </div>
    
  <div *ngIf="!produtos && produtos.length == 0">
    <p>Que pena ;-(! Ainda não temos nenhum desconto exclusívo disponível!</p>
  </div>

  <div class="lista-produtos">
    <ion-grid>
      <ion-row>
        <ion-col col-6 *ngFor="let item of produtos; let i = index;">
          <div class="produto-item">
              <ion-card>
                  <ion-card-header class="header-card-produto">
                      <div *ngIf="!item || item.Imagens.length <= 0">
                          <img class="img-produto-home" src="{{item.Produto.DepartamentoProduto.LogoUpload}}" alt="">
                      </div>
          
                      <div *ngIf="item && item.Imagens.length == 1">
                          <img class="img-produto-home" src={{item.Imagens[0].Descricao}} alt="">
                      </div>
          
                      <ion-slides pager autoplay *ngIf="item && item.Imagens.length > 1">
                          <ion-slide *ngFor="let slide of item.Imagens">
                              <img class="img-produto-home" src={{slide.Descricao}} alt="">
                          </ion-slide>
                      </ion-slides>
                  </ion-card-header>
                  <ion-card-content class="card-produto">
                      <div (click)="detalhes(item)">
                          <p class="nome-produto" style="color: black; height: 40px;">{{item.Nome}}</p>
                          <div class="produto-item-preco">
                              <div class="produto-preco" *ngIf="item.ValorDesconto && item.ValorDesconto > 0">
                                  <span class="preco-completo preco-de text-decoration-line-through">
                                      <span class="preco-titulo">De</span>
                                      <strong>R$ {{item.Valor.toFixed(2)}}</strong>
                                  </span>
                                  <span class="preco-completo">
                                      <span class="preco-titulo">Por</span>
                                      <strong>R$ {{item?.ValorDesconto.toFixed(2)}}</strong>
                                  </span>
                              </div>
                              <div class="produto-preco" *ngIf="!item.ValorDesconto || item.ValorDesconto <= 0">
                                  <span class="preco-completo">
                                      <strong>R$ {{item?.Valor.toFixed(2)}}</strong>
                                  </span>
                              </div>
                          </div>
                      </div>
                  </ion-card-content>
              </ion-card>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Carregando mais produtos...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
</ion-content>