page-meu-clube {
    
    .card-parceiro{
        width: 100%;
        border-radius: 15px;
    }
    .header-card-parceiro{
        background: white;       
        border-radius: 15px;
    }

    .text-center{
        color: black;
    }

    .grid{
        margin-left: -10px;
    }
}
