page-login {
    .input-edit{
        background: white;
        border-radius: 4px;
    }

    .input-edit{
        color: black;
    }

    .item.item-block .item-inner{
        border-bottom: 0px;
    }
}
