<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="premiarClubeSettings" type="Clube.Premiar.PremiarClubeSettings, Clube.Premiar">
      <section name="api" type="Clube.Premiar.PremiarClubeApiSettings, Clube.Premiar" />
      <section name="authorization" type="Clube.Premiar.PremiarClubeAuthorizationSettings, Clube.Premiar"/>  
      <section name="credentials" type="Clube.Premiar.PremiarClubeCredentialsSettings, Clube.Premiar"/>  
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="owin:AppStartup" value="Api.Startup" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!--<add key="owin:AutomaticAppStartup" value="false" />-->
    <!-- CryptKey -->
    <add key="CryptKey" value="{ 115, 5, 35, 87, 64, 65, 66, 93 }" />
    <!-- EMAIL -->
    <add key="EMAIL_FROM" value="administrador@4world.com.br" />
    <add key="EMAIL_CONTATO" value="administrador@4world.com.br" />
    <add key="EMAIL_INDICACAO" value="administrador@4world.com.br" />
    <!--DOMAIN-->
    <add key="HOST" value="http://54.207.54.199/ApiMeuVale/" />
    <!-- Integração PCSist ? 0 = Não Realiza / != 0 = Realiza (Qualquer valor diferente de 0 realiza a transacao -->
    <add key="PCSIST_REALIZA_TRANSACAO" value="0" />
    <!-- 0 = Não Realiza / != 0 = Realiza (Qualquer valor diferente de 0 realiza a transacao-->
    <add key="API_REALIZA_TRANSACAO" value="1" />
    <!--API Mobiseg = 0, PAYZEN = 1, MeuVale = 2, Ebanx = 3 -->
    <add key="API_REALIZA_TRANSACAO_FORMA_PAGAMENTO" value="2" />
    <!--API Mobiseg-->
    <add key="API_URL_PATH" value="http://localhost:59847/api/" />
    <!--https://www.mobiseg.com.br/api/-->
    <add key="API_URL_GET_PESSOA_DETALHE" value="getPessoaDetalhe?idFluxo={fluxo}nrCPF={cpf}cdChave={chave}" />
    <!--GET-->
    <add key="API_URL_POST_REALIZA_TRANSACAO_CARTAO_ONE_CLICK" value="realizaTransacaoCartao?idFluxo={fluxo}cdChave={chave}cpf={cpf}idPlano{plano}idPessoa{pessoa}idCartao{cartao}valor{valor}" />
    <!--POST-->
    <add key="API_URL_POST_REALIZA_TRANSACAO_CARTAO" value="realizaTransacaoCartao?idFluxo={fluxo}cdChave={chave}cpf={cpf}idPlano={plano}idPessoa={pessoa}cartaoNumero={cartao}cartaoValidade={validade}cartaoCvv={cvv}valor={valor}" />
    <!--POST-->
    <!--API Mobiseg - CREDENTIALS-->
    <add key="API_MOBISEG_FLUXO" value="83" />
    <add key="API_MOBISEG_CHAVE" value="Fruff79t2IXD0tT3ayzGgYBir0KYkK8bPUcF20gI7gFHTjnPhCHvKYKzCScs" />
    <add key="API_MOBISEG_PLANO" value="141" />
    <!--API Infox-->
    <add key="API_INFOX_URL_PATH" value="http://54.207.54.199/ApiInfox/api/" />
    <!--API Infox - URL FUNCTIONS-->
    <add key="API_URL_SALDO_CARTAO" value="saldoextrato/saldo/{idCliente}/{cardNumber}/{cardPass}" />
    <!--POST-->
    <add key="API_URL_EXTRATO_CARTAO" value="saldoextrato/extrato/{idCliente}/{cardNumber}/{cardPass}/{codEstabelecimento}" />
    <!--POST-->
    <add key="API_URL_COMPRA_A_VISTA" value="pedidocompra/compra/avista" />
    <!--POST-->
    <add key="API_URL_CANCELA_COMPRA_A_VISTA" value="pedidocompra/cancela/compra/avista" />
    <!--POST-->
    <add key="API_URL_DESFAZ_COMPRA_A_VISTA" value="pedidocompra/desfaz/compra/avista" />
    <!--POST-->

    <add key="API_EBANX_URL" value="https://staging.ebanx.com.br/" />
    <add key="API_EBANX_INTEGRATION_KEY" value="2717ef24a7b85e6cfba41efba3fdabb68344813bf9a163e4de5dedf97d15d323d973e8e36fc9b635177aa715f28d8d74f8d7" />
    <add key="API_EBANX_PUBLIC_KEY" value="zDf0wqW2s80d2Bnff5LAhWR0hfMA-5q16WxrPWl7fsw" />
  </appSettings>
  <connectionStrings>
    <!--<add name="ConnectionStringOracle" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.0.151)(PORT=1521))(CONNECT_DATA=(SERVER=dedicated)(SID=WINT)));User Id=Consulta;Password=consult;" providerName="Oracle.DataAccess.Client" />-->
    <!--<add name="ConnectionStringMySQL" connectionString="Server=api.ipetdelivery.com.br; Port=3306; Database=ipet_dev; Uid=ipet_usr_dev; Pwd=Ip3tdelivery;" providerName="MySql.Data.MySqlClient" />-->
    <!--<add name="ConnectionStringMySQL" connectionString="Server=api.mobile.marche.4world.com.br; Port=3306; Database=app_marche_hml; Uid=usrmarchehml; Pwd=*Dwy98l4;" providerName="MySql.Data.MySqlClient" />-->
    <!--<add name="ConnectionStringSQL" connectionString="Data Source=54.233.179.247;Initial Catalog=OkayCar;User ID=leojarts;Password=Leo22072004;Timeout=2000" providerName="System.Data.SqlClient"/>-->
    <add name="ConnectionStringSQL" connectionString="Data Source=54.233.179.247;Initial Catalog=meuvale_app_PRD;User ID=leojarts;Password=Leo22072004;Timeout=2000" providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <!--<premiarClubeSettings>
    <api baseUri="https://cloudloyaltyapimanprd.azure-api.net/cloudloyalty/v1/" />
    <authorization subscriptionKey="cb0b1bdf6d314499af63173caa4be470" clientId="da796d1e-0d3d-4070-88d7-9fcd8febbaa3" clientSecret="e(mj%40a%269" />
    <credentials campaignId="30296" campaignName="meuvaleshop" catalogId="40281" clientId="88" profileId="50637" />
  </premiarClubeSettings>-->
  
  <premiarClubeSettings>
    <api baseUri="https://cloudloyaltyapimanprd.azure-api.net/cloudloyalty/v1/" />
    <authorization subscriptionKey="cb0b1bdf6d314499af63173caa4be470" clientId="808df125-a2cc-468b-81ba-6a20639083b2" clientSecret="123456" />
    <credentials campaignId="50475" campaignName="meuvaleshop" catalogId="50557" clientId="40554" profileId="61152" />
  </premiarClubeSettings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />
    <globalization enableClientBasedCulture="true" requestEncoding="utf-8" responseEncoding="utf-8" culture="pt-BR" uiCulture="pt-BR" />
    <httpModules>
      <add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" />
    </httpModules>
  </system.web>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Headers" value="*" />
        <add name="Access-Control-Expose-Headers" value="*" />
      </customHeaders>
    </httpProtocol>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="TelemetryCorrelationHttpModule" />
      <add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" preCondition="managedHandler" />
    </modules>
  </system.webServer>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="administrador@4world.com.br">
        <network host="smtplw.com.br" port="587" userName="leojarts" password="Leo22072004" />
      </smtp>
    </mailSettings>
  </system.net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SimpleInjector" publicKeyToken="984cb50dea722e99" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.8.0" newVersion="4.0.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.0.0" newVersion="5.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.0" newVersion="4.0.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" culture="neutral" publicKeyToken="b03f5f7f11d50a3a" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>